<div class="page-wrap">
  <aside class="page-sidebar">
    <p-tree [value]="menuItems" selectionMode="single" (onNodeSelect)="onFolderSelect($event)">
      <ng-template let-node pTemplate="default">
        <span class="p-treenode-label">
          <span>{{node.label}}</span>
        </span>
      </ng-template>
    </p-tree>
  </aside>
  <main class="page-main">
    <section>
      <div class="row">
        <div class="col-8">
          <p-breadcrumb [model]="breadcrumbItems" [home]="home" (onItemClick)="onBreadcrumbClick($event)"></p-breadcrumb>
        </div>
        <div class="col-3">
          <span class="p-float-label">
            <input type="search" id="inputtext" pInputText [(ngModel)]="searchText" (search)="onFileSearch()"
              style="height: 3.5rem; width: 100%;">
            <label for="inputtext">Search</label>
          </span>
        </div>
        <div class="col-1">
          <app-img-uploader></app-img-uploader>
        </div>
      </div>
    </section>
    <section style="margin: 1rem 0;">
      <ng-container *ngFor="let item of selectedFolder; let i = index;">
        <div *ngIf="item?.IsFolder; else fileItem;" class="folder-item" (click)="setFolderSpace(item?.Id)">
          <i class="pi pi-folder" style="margin-right: 0.5rem;"></i>
          <span>{{item?.Name}}</span>
        </div>
        <ng-template #fileItem>
          <div class="file-item">
            <img #img id="img_{{i}}" [src]="item?.FileUrl" (error)="img.src = errorImgSrc" alt="img_{{i}}">
            <label for="img_{{i}}">{{item?.Name}}</label>
          </div>
        </ng-template>
      </ng-container>
    </section>
  </main>
</div>